:root {
  --brand-teal: #2B95A3;
  --brand-light-grey: #e8e8e8;
  --brand-dark-grey: #a6a6a6;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

body {
  color: #434343;
}
